<div class="form">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

 <%= link_to "Back", :back %>
</div>

<style>
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 画面全体の高さ */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }

  div.container h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .field {
    margin: 10px 0;
    width: 100%;
  }

  .actions input[type="submit"] {
    background: linear-gradient(to right, #fc4a1a, #1a2a6c);
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
    width: 100%;
  }

  h3 {
    margin-top: 30px;
    font-size: 22px;
  }

  i {
    font-size: 12px;
    color: #888;
  }
</style>
