 
<div class="container">
  <%= render 'list', users: @users %>
  <h2>プロフィール編集</h2>
  <%= form_with model: @user do |f| %>
    <div class="form-group">
      <label for="inputName">Name</label>
      <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前", class: "vertical-input" %>
    </div>
    <div class="form-group">
      <label>Introduction</label>
      <%= f.text_area :introduction, id: 'user_introduction', class: "vertical" %>  
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <%= f.text_field :email, autofocus: true, id: "inputEmail", placeholder: "example@example.com", class: "vertical-input" %>
    </div>
    <div class="form-group">
      <label for="inputImage">ProfileImage</label>
      <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*", class: "vertical-input" %>
    </div>
    <%= f.submit "変更を保存" , class: "submit"%>|
    <%= link_to "Back", mypage_path(current_user.id) %>
  <% end %>
</div>


<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    /*width: 400px;*/
    font-size: 23px;
  }
  
  .form-group {
    margin-bottom: 15px;
    /* 各入力フィールドの間隔 */
  }

  .vertical-input {
    display: block; /* 各入力フィールドをブロック要素に */
    height: 26px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .vertical {
    display: block; /* 各入力フィールドをブロック要素に */
    margin-bottom: 10px;
    width: 100%;
    height: 85px;
  }
  
  .submit {
    background: linear-gradient(to right, #fc4a1a, #1a2a6c);
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
    margin: 10px 50px;
  }
</style>