 <div class="cols col-md-7 offset-md-1">
     　  <h2 class="users">Post</h2>
          <% if @post.product.present? %>
            <h3>タイトル名: [<%= @post.product.name %>]</h3>
          <% else %>
            <p>商品情報がありません</p>
          <% end %>
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th></th>
                  <th class="title">Title</th>
                  <th class="title">Comment</th>
                   <td class="review">
              <div id="star_<%= @post.id %>"></div>
          <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#star_<%= @post.id %>');
            if (elem == null) return;

            elem.innerHTML = "";
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: "<%= @post.star %>",
              readOnly: true,
            };
            raty(elem, opt);
          });
          </script>
                  </td>
                </tr>
              </thead>
             <tbody>
                <tr>
                  <td class="text">
                  <%= image_tag url_for(@post.image), size: "100x100" %>
                      <%= link_to user_path(@post.user.id) do %>
                     <br><%= link_to @post.user.name, admin_dashboard_path(@post.user) %>
                      <% end %>
                  </td>
                  <td class="text">
                  <%= @post.title %>
                  </td>
                  <td class="text">
                  <%= @post.body %>
                  </td>
                  <td class="favorite">
                    ♥<%= @post.favorites.count %>
                  </td>
               
                </tr>
            </tbody>
     　　　 </table>
     　　　 <div>
          <p>コメント件数：<%= @post.post_comments.count %></p>
          <% @post.post_comments.each do |post_comment| %>
            <div>
             <h4 class="new">
               <strong><%= post_comment.user.name %></strong>
               <%= post_comment.created_at.strftime('%Y/%m/%d') %>:
                <span><%= post_comment.comment %>
                <% if post_comment.user == current_user %>
                  <%= link_to "Destroy", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
                <% end %></span>
            </h4>
            <% end %>
          </div>
      </div>
    </div>
  </div>

<style>

  .row {
    display: flex;
  }

  .cols {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
  }

  .text {
   padding: 0 30px;
 }

 .favorite {
   padding: 0 30px;
   color: #ff1493;
 }


  .users {
    margin: 0;
    padding: 0;
    font-size: 35px;
  }

  .title {
    font-size: 20px;
    padding-right: 60px;
  }

  .tables {
    width: 80%;
  }

  .button-container {
    text-align: right; /* リンクを右寄せ */
    margin-top: 20px;
  }

  .link-text {
   font-size: 20px;
   border-radius: 20%;
   text-decoration: none; /* 下線を消す */
   color:  #000;
   padding-left: 10px;
  }

    .new {
    font-size: 1rem;
  }
  </style>