<div class="container">
  <div class="grid grid-cols-1 items-start gap-9 md:grid-cols-2">
    <div class="a">
      <h1 class="text-2xl font-bold">
        <%= @product.name %>
         <span class="edit">
          <%= link_to edit_admin_product_path(@product), class: "text-center cursor-pointer" do %>
            Edit Product
          <% end %>
          </span>
      </h1>
    </div>
  <div class="row">
    <div class="col col-md-5">
      <%= image_tag @product.image, size: "400x400" %>
    </div>
    <div class="col col-md-6 top-0">
      <div class="description">
      <h3>description</h3>
      <p>
        <%= @product.description %>
      </p>
      </div>
    </div>
  </div>
</div>

<% if @matching_post %>
  <p><%= @matching_post.body %></p>
<% else %>
  <p>一致する投稿は見つかりませんでした。</p>
<% end %>

<style>
  .description {
    padding: 0 2rem;
  }

  .edit {
    font-size: 20px;
    margin: 1rem 0;
  }
</style>