<div class="container">
  <div class="mb-6 ">
    <div class="row">
      <div class="col col-md-12">
        <h1>全ユーザー一覧
         <span>(ユーザー数： <%= @users_count %> 人)</span>
        </h1>
         <table class="table text-center table-hover table-inverse">
           <thead>
             <tr>
               <th>name</th>
             <th>email</th>
             <th></th>
             <th colspan="4"></th>
             </tr>
           </thead>
           
           <tbody>
             <tr>
               <% @users.each do |user| %>
                 <td><%= user.name %></td>
                 <td><%= user.email %></td>
                 <td><%= link_to "Show",  admin_dashboard_path(user) %></td>
                 <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
               <% end %>
             </tr>
           </tbody>
         </table>
      </div>
    </div>
  </div>
</div>

<style>
  
  .col {
    font-size: 20px;
    white-space: nowrap;
    overflow: auto;
    margin-top: 2rem;
  }
  
  span {
      font-size: 20px;
  }
</style>