
  
  
  <%= render 'public/users/list', users: @users %>

  <div class="container  px-1 px-sm-0">
    <div class="row">
      <div class="col col-md-3">
        
        <h2>User info</h2>
          <%= image_tag @user.get_profile_image(100,100) %>
          <table class="table">
            <tbody>
              <tr></tr>
              <tr>
                <th>name:</th>
                <th><%= @user.name %></th>
              </tr>
              <tr></tr>
              <tr>
                <th>introduction: </th>
                <th><%= @user.introduction %></th>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="cols col-md-8">
          <% if @post %>
     　　　<h2 class="users"<%= @post.user.name %>></h2>
              <table class="table table-hover table-inverse">
                <thead>
                  <tr> 
                    <th></th>
                    <th>Title</th>
                    <th>Comment</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                    <% @posts.each do |post| %>
                    <tr>
　　　　　　　　　　　<td class="text image-container">
                       <% if post.image.attached? %>
    　　　　　　　　　　　　　　　　<%= image_tag url_for(post.image), size: "100x100" %>
                    　　<% end %>
                      </td>
                      <td class="text">
                      <%= link_to "#{post.title}", admin_post_path(post) %>
                      </td>
                      <td class="text">
                      <%= post.body %>
                      </td>
                      <td>
                        <%= link_to admin_post_path(post.id) do %>
                        <% end %>
                        <p><%= "#{post.post_comments.count} コメント" %></p>  
                      </td>
                    </tr>
                  <% end %>
                    
                </tbody>
              </table>
          <% else %>
            <h2 class="post">Post not found</h2>
          <% end %>
            
        </div>
        
    　 </div>
    　</div>
    　<%= paginate @posts, class: 'pagination' %>
    </div>

<style>

  .row {
    display: flex;
   
  }

  .col {
    width: 300px;
    margin: 15px;
    text-align: left;
    font-size: 20px;
    white-space: nowrap;
    overflow: auto;
  }

  .cols {
    width: 80%;
    overflow: auto;
  }

  .text {
   padding: 0 30px;
 }

  .users {
    margin: 0;
    padding: 0;
    font-size: 35px;
  }

  .title {
    font-size: 20px;
  }

  .tables {
     /* テーブルの上下間隔を追加 */
    width: 80%;
  }

  .post {
    text-align: center;
    margin-top: 2rem;
  }
  
 
  .pagination {
     font-size: 25px;  /* ページネーションのフォントサイズを20pxに設定 */
     font-weight: bold; /* ページネーションのテキストを太字にする */
     justify-content: center;
   }

td.text, th {
  width: 25%; /* テキストセルの幅を30%に設定 */
}

td.image-container {
  width: 20%; /* 画像セルの幅を20%に設定 */
}

/*}*/
  </style>
  
  
  
  